amqp==2.3.2
billiard==3.5.0.3
celery==4.2.0
dj-database-url==0.5.0
Django==1.11.7
gunicorn==19.8.1
kombu==4.2.1
psycopg2==2.7.5
python-decouple==3.1
pytz==2018.4
redis==2.10.6
urlwait==0.4
vine==1.1.4
